@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.App {
	height: 100%;
}

.content-body {
	padding: 10px 0 !important;

	.content-title {
		font-family: 'Oswald', sans-serif;
		border-bottom: 1px solid black;
		padding: 20px 20px 0 20px;
	}

	.add-item {
		padding: .5rem .5rem;
	}

	.item-card {
		box-shadow: 0, 0, 10px, 10px, rgba(0, 0, 0, 0.308);
		.edit-button {
			padding: .5rem .5rem;
		}

		.delete-button {
			padding: .5rem .5rem;
		}
	}
}

.container-login {
	height: 100%;
	.myRow {
		height: 100%;
	}

	.myCol {
		height: 60%;
	}
}
